body {
    background-color: #fffcf2;
    align-content: center;
    display: block;
    text-align: center;
}

h1 {
    font-size: 40px;
}

#addEntry {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #808F7C;
    border: 0px;
    margin-bottom: 10px;
}

#addEntry:hover {
    transform: scale(1.1);
    background-color: #6E756B;
}

.container {
    background-color: #6e756b92;
    display: flex;
    margin:auto;
    gap: 10px;
    width: 900px;
    height: 600px;
    border-radius: 30px;
}

.container > p{
    text-align: center;
    font-size: 30px;
    padding-left: 37%;
}
